<h1>Indabo is a Marketplace for Community Venues</h1>

<div class="spacer">
</div>

<div class="row">
	<div class="span12">
		<div class="image-block">
		    <div class="slider-wrapper theme-default">
      		    <div class="ribbon">
        		    <div id="slider" class="nivoSlider">
                		<img src="images/field_lg.png" alt="" title="#fieldcaption" data-transition="slideInLeft" />
                		<img src="images/church_lg.png" alt="" title="#churchcaption" data-transition="slideInLeft" />
                		<img src="images/hall_lg.png" alt="" title="#hallcaption" data-transition="slideInLeft"  />
           			</div>

           			<div id="churchcaption" class="nivo-html-caption">
                		<strong>CHURCH HALL VENUE</strong> <a href="#">view...</a>
            		</div>

            		<div id="fieldcaption" class="nivo-html-caption">
            			<strong>SPORTS FIELD</strong> <a href="#">view...</a>
           			</div>

           			 <div id="hallcaption" class="nivo-html-caption">
                		<strong>COMMUNITY HALL</strong> <a href="#">view...</a>
            		</div>
        		</div>
    		</div>
		</div>
	</div>
</div>

<div class="spacer">
</div>

<div class="row">
	<div class="span6">
    <div class = "formheader">
      <h2>Search for a Venue</h2>
    </div>
		<div class="form">
			<%= render 'venues/searchvenue_form' %>
		</div>
	</div>

	<div class="span6">
    <div class = "formheader">
      <h2>Register a Venue</h2>
    </div>
		<div class="form">
			<%= render 'venues/newvenue_form' %>
		</div>
	</div>
</div>

<div class="spacer">
</div>