<h1>All Venues</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Venue Size</th>
        <th>Venue Category</th>
        <th>Contact no</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <%= render @venues %>
    </tbody>
</table>

<br />

<%= link_to 'Register a New Venue', new_venue_path %>
